<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <h2>취미생활</h2>
        <label>
          <input type="checkbox" value="운동" v-model="hobby" />
          운동
        </label>
        <label>
          <input type="checkbox" value="독서" v-model="hobby" />
          독서
        </label>
        <label>
          <input type="checkbox" value="음악" v-model="hobby" />
          음악
        </label>
        <label>
          <input type="checkbox" value="댄스" v-model="hobby" />
          댄스
        </label>
        <label>
          <input type="checkbox" value="역사" v-model="hobby" />
          역사
        </label>
      </div>
      <div>
        <h2>상품 분류 선택</h2>
        <select v-model="category">
          <option value="">----상품 분류를 선택하세요.</option>
          <option value="레저">레저</option>
          <option value="가전">가전</option>
          <option value="음식">음식</option>
          <option value="도서">도서</option>
          <option value="주방">주방</option>
        </select>
      </div>
      <hr />
      <div>
        선택한 취미: {{hobby.join(',')}}
        <br />
        선택한 상품 분류: {{category}}
      </div>
      <h2 v-text="msg">{{msg2}}</h2>
      <div v-html="htmlMsg"></div>
    </div>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            hobby: [],
            category: '',
            msg: 'TEST',
            msg2: 'MSG',
            htmlMsg:
              '<span style="color: red;">Hello, <strong>Vue.js</strong>!</span>',
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
